---
title: Stay up to date
---

<header class="main-header">
  <%= image_tag 'logo.jpg', class: 'logo' %>
  <div class="lang-switcher">
    <%= link_to 'Bekijk deze pagina in het Nederlands…', '/index.html' %>
  </div>
</header>

<section class="info-text">
  <h1>Stay up to date</h1>
  <p>
    Would you like <strong>to be kept up to date</strong> on exhibitions and activities in the
    <strong>Allard Pierson Museum</strong>? <em>Then leave your email address here</em>. To boot, your
    name will be entered for a chance to win a set of books from our museum shop
    worth <strong>€ 50,-</strong>. Every month a new winner will be announced.
  </p>
</section>

<section class="container">
  <section class="signup">
    <form action="http://markkocera.createsend.com/t/d/s/iykllu/" method="post" id="subForm">
      <p class="name">
        <label for="fieldName">Name</label>
        <input id="fieldName" name="cm-name" type="text" placeholder="Name" autofocus="true">
      </p>
      <p class="email">
        <label for="fieldEmail">Email address</label>
        <input id="fieldEmail" name="cm-iykllu-iykllu" type="email" required placeholder="Email adress">
      </p>
      <p class="address">
        <label for="fieldiryklr">Address</label>
        <input id="fieldiryklr" name="cm-f-iryklr" type="text" placeholder="Street + number" />
      </p>
      <div class="floated-fields">
        <p class="postalcode">
          <label for="fieldirykly">Postalcode</label>
          <input id="fieldirykly" name="cm-f-irykly" type="text" placeholder="Postalcode" />
        </p>
        <p class="city">
          <label for="fieldiryklj">City</label>
          <input id="fieldiryklj" name="cm-f-iryklj" type="text" placeholder="City"/>
        </p>
      </div>
      <div class="floated-fields">
        <p class="country">
          <select id="fieldiryklt" name="cm-fo-iryklt">
            <option value="" disabled selected>Select country…</option>
            <option value="372171">Afghanistan</option>
            <option value="372172">Albania</option>
            <option value="372173">Algeria</option>
            <option value="372174">American Samoa</option>
            <option value="372175">Andorra</option>
            <option value="372176">Angola</option>
            <option value="372177">Anguilla</option>
            <option value="372178">Antigua &amp; Barbuda</option>
            <option value="372179">Argentina</option>
            <option value="372180">Armenia</option>
            <option value="372181">Aruba</option>
            <option value="372182">Australia</option>
            <option value="372183">Austria</option>
            <option value="372184">Azerbaijan</option>
            <option value="372185">Azores</option>
            <option value="372186">Bahamas</option>
            <option value="372187">Bahrain</option>
            <option value="372188">Bangladesh</option>
            <option value="372189">Barbados</option>
            <option value="372190">Belarus</option>
            <option value="372191">Belgium</option>
            <option value="372192">Belize</option>
            <option value="372193">Benin</option>
            <option value="372194">Bermuda</option>
            <option value="372195">Bhutan</option>
            <option value="372196">Bolivia</option>
            <option value="372197">Bonaire</option>
            <option value="372198">Bosnia &amp; Herzegovina</option>
            <option value="372199">Botswana</option>
            <option value="372200">Brazil</option>
            <option value="372201">British Indian Ocean Ter</option>
            <option value="372202">Brunei</option>
            <option value="372203">Bulgaria</option>
            <option value="372204">Burkina Faso</option>
            <option value="372205">Burundi</option>
            <option value="372206">Cambodia</option>
            <option value="372207">Cameroon</option>
            <option value="372208">Canada</option>
            <option value="372209">Canary Islands</option>
            <option value="372210">Cape Verde</option>
            <option value="372211">Cayman Islands</option>
            <option value="372212">Central African Republic</option>
            <option value="372213">Chad</option>
            <option value="372214">Channel Islands</option>
            <option value="372215">Chile</option>
            <option value="372216">China</option>
            <option value="372217">Christmas Island</option>
            <option value="372218">Cocos Island</option>
            <option value="372219">Colombia</option>
            <option value="372220">Comoros</option>
            <option value="372221">Congo</option>
            <option value="372222">Congo Democratic Rep</option>
            <option value="372223">Cook Islands</option>
            <option value="372224">Costa Rica</option>
            <option value="372225">Cote D&#x27;Ivoire</option>
            <option value="372226">Croatia</option>
            <option value="372227">Cuba</option>
            <option value="372228">Curacao</option>
            <option value="372229">Cyprus</option>
            <option value="372230">Czech Republic</option>
            <option value="372231">Denmark</option>
            <option value="372232">Djibouti</option>
            <option value="372233">Dominica</option>
            <option value="372234">Dominican Republic</option>
            <option value="372235">East Timor</option>
            <option value="372236">Ecuador</option>
            <option value="372237">Egypt</option>
            <option value="372238">El Salvador</option>
            <option value="372239">Equatorial Guinea</option>
            <option value="372240">Eritrea</option>
            <option value="372241">Estonia</option>
            <option value="372242">Ethiopia</option>
            <option value="372243">Falkland Islands</option>
            <option value="372244">Faroe Islands</option>
            <option value="372245">Fiji</option>
            <option value="372246">Finland</option>
            <option value="372247">France</option>
            <option value="372248">French Guiana</option>
            <option value="372249">French Polynesia</option>
            <option value="372250">French Southern Ter</option>
            <option value="372251">Gabon</option>
            <option value="372252">Gambia</option>
            <option value="372253">Georgia</option>
            <option value="372254">Germany</option>
            <option value="372255">Ghana</option>
            <option value="372256">Gibraltar</option>
            <option value="372257">Great Britain</option>
            <option value="372258">Greece</option>
            <option value="372259">Greenland</option>
            <option value="372260">Grenada</option>
            <option value="372261">Guadeloupe</option>
            <option value="372262">Guam</option>
            <option value="372263">Guatemala</option>
            <option value="372264">Guernsey</option>
            <option value="372265">Guinea</option>
            <option value="372266">Guinea-Bissau</option>
            <option value="372267">Guyana</option>
            <option value="372268">Haiti</option>
            <option value="372269">Honduras</option>
            <option value="372270">Hong Kong</option>
            <option value="372271">Hungary</option>
            <option value="372272">Iceland</option>
            <option value="372273">India</option>
            <option value="372274">Indonesia</option>
            <option value="372275">Iran</option>
            <option value="372276">Iraq</option>
            <option value="372277">Ireland</option>
            <option value="372278">Isle of Man</option>
            <option value="372279">Israel</option>
            <option value="372280">Italy</option>
            <option value="372281">Jamaica</option>
            <option value="372282">Japan</option>
            <option value="372283">Jersey</option>
            <option value="372284">Jordan</option>
            <option value="372285">Kazakhstan</option>
            <option value="372286">Kenya</option>
            <option value="372287">Kiribati</option>
            <option value="372288">Korea North</option>
            <option value="372289">Korea South</option>
            <option value="372290">Kuwait</option>
            <option value="372291">Kyrgyzstan</option>
            <option value="372292">Laos</option>
            <option value="372293">Latvia</option>
            <option value="372294">Lebanon</option>
            <option value="372295">Lesotho</option>
            <option value="372296">Liberia</option>
            <option value="372297">Libya</option>
            <option value="372298">Liechtenstein</option>
            <option value="372299">Lithuania</option>
            <option value="372300">Luxembourg</option>
            <option value="372301">Macau</option>
            <option value="372302">Macedonia</option>
            <option value="372303">Madagascar</option>
            <option value="372304">Malawi</option>
            <option value="372305">Malaysia</option>
            <option value="372306">Maldives</option>
            <option value="372307">Mali</option>
            <option value="372308">Malta</option>
            <option value="372309">Marshall Islands</option>
            <option value="372310">Martinique</option>
            <option value="372311">Mauritania</option>
            <option value="372312">Mauritius</option>
            <option value="372313">Mayotte</option>
            <option value="372314">Mexico</option>
            <option value="372315">Midway Islands</option>
            <option value="372316">Moldova</option>
            <option value="372317">Monaco</option>
            <option value="372318">Mongolia</option>
            <option value="372319">Montenegro</option>
            <option value="372320">Montserrat</option>
            <option value="372321">Morocco</option>
            <option value="372322">Mozambique</option>
            <option value="372323">Myanmar</option>
            <option value="372324">Namibia</option>
            <option value="372325">Nauru</option>
            <option value="372326">Nepal</option>
            <option value="372327">Netherland Antilles</option>
            <option value="372328">Netherlands</option>
            <option value="372329">Nevis</option>
            <option value="372330">New Caledonia</option>
            <option value="372331">New Zealand</option>
            <option value="372332">Nicaragua</option>
            <option value="372333">Niger</option>
            <option value="372334">Nigeria</option>
            <option value="372335">Niue</option>
            <option value="372336">Norfolk Island</option>
            <option value="372337">Norway</option>
            <option value="372338">Oman</option>
            <option value="372339">Pakistan</option>
            <option value="372340">Palau Island</option>
            <option value="372341">Palestine</option>
            <option value="372342">Panama</option>
            <option value="372343">Papua New Guinea</option>
            <option value="372344">Paraguay</option>
            <option value="372345">Peru</option>
            <option value="372346">Philippines</option>
            <option value="372347">Pitcairn Island</option>
            <option value="372348">Poland</option>
            <option value="372349">Portugal</option>
            <option value="372350">Puerto Rico</option>
            <option value="372351">Qatar</option>
            <option value="372352">Reunion</option>
            <option value="372353">Romania</option>
            <option value="372354">Russia</option>
            <option value="372355">Rwanda</option>
            <option value="372356">Saipan</option>
            <option value="372357">Samoa</option>
            <option value="372358">Samoa American</option>
            <option value="372359">San Marino</option>
            <option value="372360">Sao Tome &amp; Principe</option>
            <option value="372361">Saudi Arabia</option>
            <option value="372362">Senegal</option>
            <option value="372363">Serbia</option>
            <option value="372364">Serbia &amp; Montenegro</option>
            <option value="372365">Seychelles</option>
            <option value="372366">Sierra Leone</option>
            <option value="372367">Singapore</option>
            <option value="372368">Slovakia</option>
            <option value="372369">Slovenia</option>
            <option value="372370">Solomon Islands</option>
            <option value="372371">Somalia</option>
            <option value="372372">South Africa</option>
            <option value="372373">South Sudan</option>
            <option value="372374">Spain</option>
            <option value="372375">Sri Lanka</option>
            <option value="372376">St Barthelemy</option>
            <option value="372377">St Eustatius</option>
            <option value="372378">St Helena</option>
            <option value="372379">St Kitts-Nevis</option>
            <option value="372380">St Lucia</option>
            <option value="372381">St Maarten</option>
            <option value="372382">St Pierre &amp; Miquelon</option>
            <option value="372383">St Vincent &amp; Grenadines</option>
            <option value="372384">Sudan</option>
            <option value="372385">Suriname</option>
            <option value="372386">Swaziland</option>
            <option value="372387">Sweden</option>
            <option value="372388">Switzerland</option>
            <option value="372389">Syria</option>
            <option value="372390">Tahiti</option>
            <option value="372391">Taiwan</option>
            <option value="372392">Tajikistan</option>
            <option value="372393">Tanzania</option>
            <option value="372394">Thailand</option>
            <option value="372395">Togo</option>
            <option value="372396">Tokelau</option>
            <option value="372397">Tonga</option>
            <option value="372398">Trinidad &amp; Tobago</option>
            <option value="372399">Tunisia</option>
            <option value="372400">Turkey</option>
            <option value="372401">Turkmenistan</option>
            <option value="372402">Turks &amp; Caicos Is</option>
            <option value="372403">Tuvalu</option>
            <option value="372404">Uganda</option>
            <option value="372405">Ukraine</option>
            <option value="372406">United Arab Emirates</option>
            <option value="372407">United Kingdom</option>
            <option value="372408">United States of America</option>
            <option value="372409">Uruguay</option>
            <option value="372410">Uzbekistan</option>
            <option value="372411">Vanuatu</option>
            <option value="372412">Vatican City State</option>
            <option value="372413">Venezuela</option>
            <option value="372414">Vietnam</option>
            <option value="372415">Virgin Islands (Brit)</option>
            <option value="372416">Virgin Islands (USA)</option>
            <option value="372417">Wake Island</option>
            <option value="372418">Wallis &amp; Futana Is</option>
            <option value="372419">Yemen</option>
            <option value="372420">Zambia</option>
            <option value="372421">Zimbabwe</option>
          </select>
        </p>
        <p class="action action-en">
          <button type="submit">Subscribe</button>
        </p>
      </div>
    </form>
  </section>

  <section class="books">
    <h2>Books</h2>
    <div class="book-image"><%= image_tag 'keys-to-rome.png' %></div>
    <div class="book-image should-be-smaller"><%= image_tag '75-jaar.jpg' %></div>
    <div class="book-image"><%= image_tag 'eternal-egypt.png' %></div>
  </section>
</section>
